# Python for data analysis and visualisation

## Online short course at the University of St Andrews

## Final assignment

### [Ryan Stuart]

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

We start with exploring the content of the dataset.

In [2]:
df = pd.read_csv("../data/Scotland_teaching_file_1PCT.csv")

In [3]:
df

,Record_Number,Region,RESIDENCE_TYPE,Family_Composition,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion,Economic_Activity,Occupation,industry,Hours_Worked_Per_Week,Approximate_Social_Grade
0,1,S92000003,P,1,1,4,2,2,2,2,1,5,1,5,5,4,3
1,2,S92000003,P,0,1,3,1,2,1,2,1,1,1,1,8,3,2
2,3,S92000003,P,1,2,4,2,2,1,3,1,1,1,4,8,2,4
3,4,S92000003,P,1,2,6,2,2,1,1,1,1,1,2,8,4,2
4,5,S92000003,P,4,2,4,4,2,1,2,1,1,1,3,11,3,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63383,63384,S92000003,P,1,1,2,1,1,1,1,1,2,6,X,X,X,3
63384,63385,S92000003,P,1,1,4,2,2,1,1,1,1,1,3,9,3,2
63385,63386,S92000003,P,1,1,5,2,2,1,1,1,9,1,8,3,4,4
63386,63387,S92000003,P,4,2,1,1,1,1,1,1,9,X,X,X,X,X
63387,63388,S92000003,P,1,1,5,2,2,1,2,1,2,2,8,2,4,4

In [21]:
def drop_duplicates(df, subset=['Record_Number'], keep=False):
    """
    The drop_duplicates function checks for duplicate record numbers in the DataFrame.
    
    If the boolean returned is "True", the duplicates were removed.

    If the boolean returned is "False", there were no duplicates to be removed.
    """
    original_length = len(df)
    dropped_duplicates = df.drop_duplicates(subset='Record_Number', keep=keep)
    dropped_length = len(dropped_duplicates)
    if original_length != dropped_length:
        print("No Duplicates were found and dropped")
        return True
    else:
        print("No Duplicates were found")
        return False 
dropped_duplicates = drop_duplicates(df)
print(dropped_duplicates)

def check_format(df):
    """
    The check_format function reiterates the column dtypes
    """
    for column in df.columns:
        if df[column].dtype == 'int64':
            print(f"{column}: integer")
        elif df[column].dtype == 'object':
            print(f"{column}: object")
            
check_format(df)

def check_values_of_variables_are_admissible(df):
    # Convert the string obj dtype values to string
    df["Family_Composition"] = df["Family_Composition"].astype(str)
    df["Economic_Activity"] = df["Economic_Activity"].astype(str)
    df["Occupation"] = df["Occupation"].astype(str)
    df["industry"] = df["industry"].astype(str)
    df["Hours_Worked_Per_Week"] = df["Hours_Worked_Per_Week"].astype(str)
    df["Approximate_Social_Grade"] = df["Approximate_Social_Grade"].astype(str)
   
    """
    The check_values_of_variables_are_admissible function scans over the DataFrame,
    ensuring that the values of variables match the assigned range.
    """
    
    df = df[(df["RESIDENCE_TYPE"].isin(['P','C']))] 
    df = df[(df["Family_Composition"].between("0", "5")) | (df["Family_Composition"] == 'X')]
    df = df[(df["sex"].between(1, 2))]
    df = df[(df["age"].between(1, 8))]
    df = df[(df["Marital_Status"].between(1, 5))]
    df = df[(df["student"].between(1, 2))]
    df = df[(df["Country_Of_Birth"].between(1, 2))]
    df = df[(df["health"].between(1, 5))]
    df = df[(df["Ethnic_Group"].between(1, 6))]
    df = df[(df["religion"].between(1, 9))]
    df = df[(df["Economic_Activity"].between("1", "9")) | (df["Economic_Activity"] == 'X')]
    df = df[(df["Occupation"].between("1", "9")) | (df["Occupation"] == 'X')]
    df = df[(df["industry"].between("1", "13")) | (df["industry"] == 'X')]
    df = df[(df["Hours_Worked_Per_Week"].between("1", "4")) | (df["Hours_Worked_Per_Week"] == 'X')]
    df = df[(df["Approximate_Social_Grade"].between("1", "4")) | (df["Approximate_Social_Grade"] == 'X')]

    return df
check_values_of_variables_are_admissible(df)

No Duplicates were found
False
Record_Number: integer
Region: object
RESIDENCE_TYPE: object
Family_Composition: object
sex: integer
age: integer
Marital_Status: integer
student: integer
Country_Of_Birth: integer
health: integer
Ethnic_Group: integer
religion: integer
Economic_Activity: object
Occupation: object
industry: object
Hours_Worked_Per_Week: object
Approximate_Social_Grade: object

,Record_Number,Region,RESIDENCE_TYPE,Family_Composition,sex,age,Marital_Status,student,Country_Of_Birth,health,Ethnic_Group,religion,Economic_Activity,Occupation,industry,Hours_Worked_Per_Week,Approximate_Social_Grade
4,5,S92000003,P,4,2,4,4,2,1,2,1,1,1,3,11,3,2
7,8,S92000003,P,2,2,1,1,1,1,2,1,1,X,X,X,X,X
8,9,S92000003,P,1,2,1,1,1,1,1,1,1,X,X,X,X,X
11,12,S92000003,P,1,2,1,1,2,1,1,1,1,X,X,X,X,X
19,20,S92000003,P,4,2,1,1,1,1,1,1,1,X,X,X,X,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63378,63379,S92000003,P,1,1,1,1,1,1,1,1,1,X,X,X,X,X
63379,63380,S92000003,P,1,2,1,1,1,1,1,1,1,X,X,X,X,X
63381,63382,S92000003,P,1,2,1,1,1,1,1,1,1,X,X,X,X,X
63383,63384,S92000003,P,1,1,2,1,1,1,1,1,2,6,X,X,X,3
63386,63387,S92000003,P,4,2,1,1,1,1,1,1,9,X,X,X,X,X

In [22]:
refined_data_df = check_values_of_variables_are_admissible(df)
refined_data_df.to_csv("../data/Refined_Scotland_teaching_file_1PCT.csv", index=False)

### The next steps will be:
1. Check the consistency of the initial (raw) data.
2. In case of any inconsistencies, output refined data for further analysis.
3. Provide an executable Python script to automate the two steps above.
4. Carry out certain data analysis and visualisation tasks.
5. Provide a reproducible Jupyter notebook combining your report and data analysis.
6. Organise code with minimal duplication for its reuse in Jupyter notebook(s) and Python scripts.

In [5]:
df.dropna(inplace = True)
print(df)

       Record_Number     Region RESIDENCE_TYPE Family_Composition  sex  age  \
0                  1  S92000003              P                  1    1    4
1                  2  S92000003              P                  0    1    3
2                  3  S92000003              P                  1    2    4
3                  4  S92000003              P                  1    2    6
4                  5  S92000003              P                  4    2    4
...              ...        ...            ...                ...  ...  ...
63383          63384  S92000003              P                  1    1    2
63384          63385  S92000003              P                  1    1    4
63385          63386  S92000003              P                  1    1    5
63386          63387  S92000003              P                  4    2    1
63387          63388  S92000003              P                  1    1    5

       Marital_Status  student  Country_Of_Birth  health  Ethnic_Group  \
0                   2        2                 2       2             1
1                   1        2                 1       2             1
2                   2        2                 1       3             1
3                   2        2                 1       1             1
4                   4        2                 1       2             1
...               ...      ...               ...     ...           ...
63383               1        1                 1       1             1
63384               2        2                 1       1             1
63385               2        2                 1       1             1
63386               1        1                 1       1             1
63387               2        2                 1       2             1

       religion Economic_Activity Occupation industry Hours_Worked_Per_Week  \
0             5                 1          5        5                     4
1             1                 1          1        8                     3
2             1                 1          4        8                     2
3             1                 1          2        8                     4
4             1                 1          3       11                     3
...         ...               ...        ...      ...                   ...
63383         2                 6          X        X                     X
63384         1                 1          3        9                     3
63385         9                 1          8        3                     4
63386         9                 X          X        X                     X
63387         2                 2          8        2                     4

      Approximate_Social_Grade
0                            3
1                            2
2                            4
3                            2
4                            2
...                        ...
63383                        3
63384                        2
63385                        4
63386                        X
63387                        4

[63388 rows x 17 columns]

In [6]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63388 entries, 0 to 63387
Data columns (total 17 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Record_Number             63388 non-null  int64
 1   Region                    63388 non-null  object
 2   RESIDENCE_TYPE            63388 non-null  object
 3   Family_Composition        63388 non-null  object
 4   sex                       63388 non-null  int64
 5   age                       63388 non-null  int64
 6   Marital_Status            63388 non-null  int64
 7   student                   63388 non-null  int64
 8   Country_Of_Birth          63388 non-null  int64
 9   health                    63388 non-null  int64
 10  Ethnic_Group              63388 non-null  int64
 11  religion                  63388 non-null  int64
 12  Economic_Activity         63388 non-null  object
 13  Occupation                63388 non-null  object
 14  industry                  63388 non-null  object
 15  Hours_Worked_Per_Week     63388 non-null  object
 16  Approximate_Social_Grade  63388 non-null  object
dtypes: int64(9), object(8)
memory usage: 8.2+ MB
None
       Record_Number           sex           age  Marital_Status  \
count   63388.000000  63388.000000  63388.000000    63388.000000
mean    31694.500000      1.515807      4.092557        1.881224
std     18298.683769      0.499754      2.203106        1.146424
min         1.000000      1.000000      1.000000        1.000000
25%     15847.750000      1.000000      2.000000        1.000000
50%     31694.500000      2.000000      4.000000        2.000000
75%     47541.250000      2.000000      6.000000        2.000000
max     63388.000000      2.000000      8.000000        5.000000

            student  Country_Of_Birth        health  Ethnic_Group  \
count  63388.000000      63388.000000  63388.000000  63388.000000
mean       1.810832          1.068515      1.717581      1.091595
std        0.391645          0.252629      0.926198      0.488468
min        1.000000          1.000000      1.000000      1.000000
25%        2.000000          1.000000      1.000000      1.000000
50%        2.000000          1.000000      1.000000      1.000000
75%        2.000000          1.000000      2.000000      1.000000
max        2.000000          2.000000      5.000000      6.000000

           religion
count  63388.000000
mean       2.203225
std        2.016481
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        9.000000

In [7]:
duplicates = df.duplicated().any()
print("duplicate_data:", duplicates)
drop_rows = df.dropna(inplace=True)
print("drop_rows:",drop_rows)

duplicate_data: False
drop_rows: None

In [8]:
booleans = []
for length in df.student:
    if length == 1:
        booleans.append(True)
    else:
        booleans.append(False)

In [9]:
booleans[0:10]

[False, False, False, False, False, False, False, True, True, False]

In [10]:
len(booleans)

63388

In [11]:
# student 1 = yes, 2 = no
is_student = pd.Series(booleans)

In [12]:
is_student.head()

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [13]:
is_student = df.student == 1
is_student.head()

0    False
1    False
2    False
3    False
4    False
Name: student, dtype: bool

### perform the descriptive analysis of the dataset: